<%= markdown(@question.title) %>
<p>Posted at: <%= @question.created_at %></p>
<%= link_to 'Delete Question', @question, method: :delete, data: {confirm: 'Are you sure?'} %>
<p><%= markdown(@question.body) %></p>
<!-- <%= link_to 'Answers', question_answers_path(@question.id) %> -->
<h2>Answers</h2>
<ul>
  <% @answers.order(best: :desc).each do |answer| %>
    <div class="row">
      <li class="answer clearfix">
        <div class="small-8 columns">
          <%= markdown(answer.title) %>
          <%= markdown(answer.body) %>
        </div>
        <div class="small-4 columns">
          <% if answer.best %>
            Chosen as best answer!!!!
          <% else %>
            <%= button_to "Make Best Answer!", [@question, answer], :method => :patch, class: "button succeess" %>
          <% end %>
        </div>
      </li>
    </div>
  <% end %>
</ul>
<h1>Post a new answer!</h1>
<%= form_for [@question, @answer] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :body %>
  <%= f.text_area :body %>
  <%= f.submit "Add Answer", class: "button" %>
<% end %>
<br />
